.container{
    
    h2{
        text-align: center;
        margin-top: 50px;
    }
    p{
        width: 600px;
        text-align: center;
        margin-left: 420px;
        line-height: 25px;
    }
}