*{
    padding: 0px;
    margin: 0px;
}
.nav{
    background-color: rgb(5, 5, 97); 
    padding: 10px;
    h2{
        color:rgb(134, 134, 214);
       font-size: 30px;
    } 

ul{
    list-style: none;
    display: flex;
    justify-content: end;
    gap: 40px;
    margin-right: 50px;
    margin-bottom: 20px;
   
    li{
       
        a{
            text-decoration: none;
            color: white;
            font-weight: bold;
            font-size: 20px;
            &:hover {
            text-decoration: underline;  
         
        }
    }
}
}
}